<html lang="en" data-bs-theme="auto">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grotto league">
    <title>Grotto league, season winter 2023/2024</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="../static/images/logo.png" alt="Grotto League Logo" th:src="@{/images/logo.png}"
                     class="img-fluid">
                <span class="fs-4">Grotto league</span>
            </a>
        </header>


        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <div class="row">
                    <h1 class="display-5 fw-bold">League Winter 2023/2024</h1>
                </div>
                <div class="row">

                    <h3>Matches</h3>

                    <div class="row">
                        <form th:action="@{/match-admin/}" method="get" th:object="${form}">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label for="player1Name" class="col-md-3 col-form-label">Player 1</label>
                                        <div class="col-md-9">
                                            <select th:field="*{player1Name}" class="form-select" id="player1Name">
                                                <option th:each="player : ${players}" th:value="${player.name}"
                                                        th:text="${player.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label for="player2Name" class="col-md-3 col-form-label">Player 2</label>
                                        <div class="col-md-9">
                                            <select th:field="*{player2Name}" class="form-select" id="player2Name">
                                                <option th:each="player : ${players}" th:value="${player.name}"
                                                        th:text="${player.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a th:href="@{/match-admin/}" class="btn btn-danger">Clear</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="table-responsive-sm">
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Player 1</th>
                                <th>Player 2</th>
                                <th>Winner</th>
                            </tr>
                            <tr th:each="s : ${plannedMatches}">
                                <td th:text="${s.playedOn} ?: 'To be played'"></td>
                                <td th:text="${s.player1.name + ' ' + s.player1.army}"></td>
                                <td th:text="${s.player2.name + ' ' + s.player2.army}"></td>
                                <td><a th:href="@{/match-admin/finish/{id}(id=${s.id})}">Finish</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <footer class="pt-3 mt-4 text-body-secondary border-top">
                &copy; 2023
            </footer>
        </div>
</main>
</body>
</html>
