<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>

        <div th:if="${not #lists.isEmpty(matches)}">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Winner</th>
                </tr>
                <tr th:each="s : ${matches}">
                    <td th:text="${s.presentHappenedOn} ?: 'To be played'"></td>
                    <td th:text="${s.player1.name + ' ' + s.player1.army}"></td>
                    <td th:text="${s.player2.name + ' ' + s.player2.army}"></td>
                    <td th:text="${s.winner()?.name} ?: '' "></td>
                </tr>
            </table>
        </div>
    </body>
</html>