<html lang="en" data-bs-theme="auto">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grotto league">
    <title>Grotto league, season winter 2023/2024</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="../static/images/logo.png" alt="Grotto League Logo" th:src="@{/images/logo.png}"
                     class="img-fluid">
                <span class="fs-4">Grotto league</span>
            </a>
        </header>


        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <div class="row">
                    <h1 class="display-5 fw-bold">League Winter 2023/2024</h1>
                </div>
                <div class="row">
                    <h3 th:text="'Matches for player ' + ${player.name}"></h3>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Player 1</th>
                                <th>Player 2</th>
                                <th>Winner</th>
                            </tr>
                            <tr th:each="s : ${matches}">
                                <td th:text="${s.presentHappenedOn} ?: 'To be played'"></td>
                                <td th:text="${s.player1.name + ' ' + s.player1.army + ' ' + s.presentPlayer1Points()}"></td>
                                <td th:text="${s.player2.name + ' ' + s.player2.army + ' ' + s.presentPlayer2Points()}"></td>
                                <td th:text="${s.winner()?.name} ?: '' "></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <footer class="pt-3 mt-4 text-body-secondary border-top">
                &copy; 2023
            </footer>
        </div>
</main>
</body>
</html>
